/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0c0c0c;
  --background-darker: #050505;
  --foreground: #ffffff;
  --primary: #10B981;
  --primary-dark: #059669;
  --card-bg: #161616;
  --border-color: #262626;
  --text-secondary: #A3A3A3;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.bg-dark {
  background-color: var(--background);
}

.bg-darker {
  background-color: var(--background-darker);
}

.card {
  background-color: var(--card-bg);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
}

.text-secondary {
  color: var(--text-secondary);
}

.recharts-tooltip-wrapper {
  background: rgba(0, 0, 0, 0.8) !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 4px !important;
}

.recharts-default-tooltip {
  background-color: rgba(0, 0, 0, 0.8) !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  color: white !important;
}